.page {
    min-height: 100%;
    width: 100%;
    min-width: 1200px;
    background: #fff;
    padding-bottom: 1rem;

    header {
        position: relative;
        height: 72px;
    }
}
.bigcontainer {
    @media screen and (min-width: 1200px) {
        width: 1200px;
    }
    @media screen and (min-width: 992px) {
        width: 1000px;
    }
}
.logo {
    float: left;
    width: 180px;
    height: 72px;
    // background: url(../images/logo.png) left center no-repeat;
}
